
<div class="container brl">
  <h1 class="heading"><b>BLOCKCHAIN RESEARCH LAB</b></h1>
</div>


<div class="container frm">
  <h1><b>Registration Form</b></h1>





  <form class="form-ex" [formGroup]="userprofileForms" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput required type="text" formControlName="name"  autocomplete="off">

    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>HOSTELER</mat-label>
      <mat-select formControlName="hosteler">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>

      </mat-select>
    </mat-form-field>


    <BR>


    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Roll No</mat-label>
      <input matInput required type="text" formControlName="roll_no"  autocomplete="off">

    </mat-form-field>



    <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>BRANCH</mat-label>
    <mat-select formControlName="branch">
      <mat-option value="CSE">CSE</mat-option>
      <mat-option value="IT">IT</mat-option>
      <mat-option value="ECE">ECE</mat-option>
      <mat-option value="MECHANICAL">MECHANICAL</mat-option>
      <mat-option value="CIVIL">CIVIL</mat-option>
      <mat-option value="EN/EI">EN/EI</mat-option>
    </mat-select>
  </mat-form-field>
    <br>


    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput required type="email" formControlName="email" autocomplete="off">
    </mat-form-field>


    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>YEAR</mat-label>
      <mat-select formControlName="year">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>

      </mat-select>
    </mat-form-field>

    <br>



    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Percentage</mat-label>
      <input matInput required type="text" formControlName="percentage">
    </mat-form-field>



    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Attandance</mat-label>
      <input matInput required type="text" formControlName="attandance">
    </mat-form-field>
    <br>


    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Mobile No.</mat-label>
      <input matInput required type="text" formControlName="mobile_no">
    </mat-form-field>
    <br>

    <button  class="btn btn-primary">submit</button>


  </form>

</div>

